<nav class="navbar bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 text-light fst-italic" href="#">SmokingArea</a>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-light me-md-2 fst-italic" type="button">Login</button>
      <button class="btn btn-light fst-italic" type="button">Sign-up</button>
   </div>
  </div>
</nav>