<%= render "shared/header" %>

<div class="container-fluid" style="padding-bottom: 50px;">
<div class="p-3 mb-2">
  <img src="/24211327.jpg" class="rounded mx-auto d-block w-25" alt="タバコイラスト">
  <p class="text-center fst-italic fs-5 text">探そう</p>
  <p class="text-center fst-italic fs-5 text">一息付ける</p>
  <p class="text-center fst-italic fs-5 text mb-5">快適な空間</p>
  <h5 class="text-center fw-bold mt-5 fst-italic">SmokingAreaの使い方</h5>
  <p class="text-center fst-italic">SmokingAreaは、喫煙所を投稿・共有する喫煙所検索サービスです。</p>
  <p class="text-center fst-italic fw-bold mt-5">その1. ユーザー登録をしてみよう</p>
  <p class="text-center">SmokingAreaにユーザー登録すると、</p>
  <p class="text-center">「スポット情報の投稿」や「スポット情報の投稿」、などができるようになります。</p>
  <p class="text-center fst-italic fw-bold mt-5">その2. スポットを検索してみよう</p>
  <p class="text-center">まずは、ページ下部の「検索」ボタンから、スポットを検索・閲覧してみましょう。</p>
</div>
</div>

<%= render "shared/footer" %>
