<%= render "shared/header" %>

<div class="container-fluid">
<div class="p-3 mb-2">
  <img src="/24211327.jpg" class="rounded mx-auto d-block w-25" alt="タバコイラスト">
  <p class="text-center fst-italic fs-5 text">探そう</p>
  <p class="text-center fst-italic fs-5 text">一息付ける</p>
  <p class="text-center fst-italic fs-5 text">快適な空間</p>
  <p class="text-center fw-bold mt-5 fst-italic">SmokingAreaの使い方</p>
  <p class="text-center fst-italic">SmokingAreaは、喫煙所を投稿・共有する喫煙所検索サービスです。</p>
</div>
</div>

<%= render "shared/footer" %>
