<%= render "shared/header" %>

<div class="container-fluid" style="padding-bottom: 100px;">
<div class="p-3 mb-2">
  <img src="/smoking2.jpg" class="rounded mx-auto d-block w-25" alt="タバコイラスト">
  <p class="text-center fst-italic fs-5 text">探そう</p>
  <p class="text-center fst-italic fs-5 text">一息付ける</p>
  <p class="text-center fst-italic fs-5 text mb-5">快適な空間</p>

  <div class="d-flex justify-content-center">
    <img src="/tobacco.jpg" class="rounded mx-auto img-size" alt="タバコイラスト">
    <img src="/ashtray.jpg" class="rounded mx-auto img-size" alt="灰皿イラスト">
    <img src="/tobacco.jpg" class="rounded mx-auto img-size" alt="タバコイラスト">
    <img src="/ashtray.jpg" class="rounded mx-auto img-size" alt="灰皿イラスト">
    <img src="/tobacco.jpg" class="rounded mx-auto img-size" alt="タバコイラスト">
    <img src="/ashtray.jpg" class="rounded mx-auto img-size" alt="灰皿イラスト">
    <img src="/tobacco.jpg" class="rounded mx-auto img-size" alt="タバコイラスト">
  </div>

  <h5 class="text-center fw-bold mt-5 fst-italic">SmokingAreaの使い方</h5>
  <p class="text-center fst-italic">SmokingAreaは、喫煙所を投稿・共有する喫煙所検索サービスです。</p>

  <img src="/human.jpg" class="rounded mx-auto d-block custom-img-size mt-5" alt="人イラスト">
  <p class="text-center fst-italic fw-bold">その1. ユーザー登録をしてみよう</p>
   <p class="text-center fst-italic">ページ上部の「新規登録」ボタンから、ユーザー登録しよう。</p>
  <p class="text-center fst-italic">SmokingAreaにユーザー登録すると、</p>
  <p class="text-center fst-italic">「スポット情報の投稿」や「スポット情報の投稿」、などができるようになります。</p>

  <img src="/pencil.jpg" class="rounded mx-auto d-block custom-img-size mt-5" alt="鉛筆イラスト">
  <p class="text-center fst-italic fw-bold">その2. スポットを投稿してみよう</p>
  <p class="text-center fst-italic">ページ下部の「投稿」ボタンから、スポットを投稿してみましょう。</p>

  <img src="/glass.jpg" class="rounded mx-auto d-block custom-img-size mt-5" alt="虫眼鏡イラスト">
  <p class="text-center fst-italic fw-bold">その3. スポットを検索してみよう</p>
  <p class="text-center fst-italic">ページ下部の「検索」ボタンから、スポットを検索・閲覧してみましょう。</p>
</div>
</div>

<%= render "shared/footer" %>
